<style>
  .map{
     height:100%;
     width: auto;
     
   }
   .icon{
     background: transparent;
   }

   @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.contenedor {
   width: 90%;
   max-width: 1200px;
   overflow: hidden;
   margin: auto;
   padding: 60px 0;
}

.subtitulo {
   text-align: center;
   font-weight: 700;
   color: #9f8ad0;
   margin-bottom: 40px;
   font-size: 40px;
}

.gallery {
   background: #f2f2f2;
}

.contenedor-galeria{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.img-galeria {
   object-fit: cover;
   width: 30%;
   display: block;
   margin-bottom: 15px;
   box-shadow: 0 0 6px rgb(0, 0, 0, 0.5);
   cursor: pointer;
}

.img-galeria:hover{
   transition: all 0.3s ease-in-out;
   transform: scale(1.1);
}

.imagen-light{
   position: fixed;
   background: transparent;
   width: 50%;
   height: 95%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translate(100%);
   transition: transform .2s ease-in-out;
}

.show{
   transform: translate(0);
}

.agregar-imagen {
   object-fit: cover;
   width: 90%;
   height: 80%;
   border-radius: 10px;
   transform: scale(0);
   transition: transform .3s .2s;
   margin-bottom: 94px;
}

.showImage{
   transform: scale(1);
}

.close {
   position: absolute;
   top: 15px;
   right: 15px;
   width: 40px;
   cursor: pointer;
   color:#fff;
   font-size: 25px;
}
   </style>

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" type="text/css">
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" type="text/css">


   <script src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js'></script>
   
   <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js'></script>
 
 //hedhaa
 <script src="https://unpkg.com/leaflet/dist/leaflet-src.js"></script>
     <link type="text/css" rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
   
   ///////
   <div class="">
     <div class="row">
        <div class="col-md-6">
           <div class="">
              <section class="gallery" id="portafolio">
                 <div class="contenedor">
                   <h2 class="subtitulo">Gallery</h2>
                   <div class="contenedor-galeria">
                     <img src="https://images.pexels.com/photos/1183021/pexels-photo-1183021.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="img-galeria">
                     
                     <img src="https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="img-galeria" id="grid1">
                     <img src="https://images.pexels.com/photos/2832061/pexels-photo-2832061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="img-galeria" id="grid2">
                     <img src="https://images.pexels.com/photos/2356059/pexels-photo-2356059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="img-galeria" id="grid3">
                     <img src="https://images.pexels.com/photos/4275885/pexels-photo-4275885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="img-galeria" id="grid4">
                     <img src="https://images.pexels.com/photos/1424246/pexels-photo-1424246.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="img-galeria" id="grid5">

                   </div>
                 </div>
               </section>
              
               <section class="imagen-light">
                 <i class="fas fa-times close"></i>
                 <img src="./img/img-3.jpg" alt="" class="agregar-imagen">
               </section>
           </div>
        </div>
        <div class="col-md-6">
           <div id="mapid" class="map"></div>
        </div>
     </div>
  </div>
   
   <script>
     var mymap = L.map('mapid').setView([36.409119, 	10.142317], 12);

     L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
       maxZoom: 40,
       attribution: '',
       id: 'mapbox/streets-v11',
       tileSize: 512,
       zoomOffset: -1
     }).addTo(mymap);
     
     coordinates = [
       [36.409119, 10.142317],
       [48.8964864, 2.4016887],
       [48.9029951, 2.3051047],
       [48.8685127, 2.4177585]
     ]
     price = ['$200', '$100', '$300', '$600']
     images = ['https://images.unsplash.com/photo-1530841377377-3ff06c0ca713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80', 'https://images.unsplash.com/photo-1530841377377-3ff06c0ca713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80', 'https://images.unsplash.com/photo-1530841377377-3ff06c0ca713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80', 'https://images.unsplash.com/photo-1530841377377-3ff06c0ca713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80']
     
     heading = ['Heading Title Here 1', 'Heading Title Here 2', 'Heading Title Here 3', 'Heading Title Here 4']
     
     let l = coordinates.length;
     var grid1 = document.querySelector('#grid1');
     var grid2 = document.querySelector('#grid2');
     var grid3 = document.querySelector('#grid3');
     var grid4 = document.querySelector('#grid4');
     
     grids = [grid1, grid2, grid3, grid4]
     //hedhaaa
   const polygon = {
 type: "Polygon",
 coordinates: [
   [
    [10.17678, 36.77748],
       [10.649202, 35.865768],
       [10.088899, 35.678581],
       [10.17678, 36.77748]
   ]
 ]
};

const layer = L.geoJSON(polygon);

layer.setStyle({ weight: "4" });

mymap.addLayer(layer);

mymap.fitBounds(layer.getBounds());
   ////
     for (let i = 0; i < l; i++) {
     
     
     
       // pop up
     
       var popup = L.popup({
         closeOnClick: true
       }).setContent('<div class="card"><img src=' + images[i] + '><div class="card-body"><h4>' + heading[i] + '</h4></div><div>');
     
       // Marker Icon
     
       var myIcon = L.divIcon({
         className: 'icon',
         iconSize: [25, 41],
       });
       var marker = L.marker(coordinates[i], {
         icon: myIcon,
       }).addTo(mymap).bindPopup(popup);
     
       // tooltip  
       var tooltip = L.tooltip({
         permanent: true,
         direction: 'center',
         opacity: 1,
     
       }).setContent(price[i]);
       marker.bindTooltip(tooltip);
       grids[i].addEventListener("mouseover", () => {
         mymap.flyTo(coordinates[i], 12);
       })
     }

     
 </script>
   

<script>
  const imagenes = document.querySelectorAll('.img-galeria');
  const imagenesLight = document.querySelector('.agregar-imagen');
  const contenedorLight = document.querySelector('.imagen-light');
  
  imagenes.forEach(imagen =>{
      imagen.addEventListener('click', ()=>{
          aparecerImagen(imagen.getAttribute('src'))
      
      })
  })
  
  contenedorLight.addEventListener('click', (e) =>{
      if(e.target !== imagenesLight){
          contenedorLight.classList.remove('show');
          imagenesLight.classList.remove('showImage'); 
      }
  })
  
  const aparecerImagen = (imagen) =>{
      imagenesLight.src = imagen;
      contenedorLight.classList.add('show');
      imagenesLight.classList.add('showImage');
  }

</script